<!DOCTYPE html>
<html>
<head>
    <title>Buurtje U N O</title>
    <link rel="stylesheet" href="styles.css">
    <style>
        .buttons-container {
            text-align: right;
        }
        button {
            margin-left: 20px;
            margin-right: 40px;
            margin-top: 30px;
        }
    </style>
</head>
<body>
    <div class="text-header1">
        <h1>BUURTJE U N O</h1>
    </div>
    <div class="text-container1">
        <h2>Voor Iedereen<br>Wat  Wils</h2>
    </div>
    <div class="text-container2">
        <p>Wij zijn Buurtje UNO en wij pijpen dieren. Check onze tabjes voor alle heel nuttige functionaliteiten.</p>
    </div>
    <div class="buttons-container">
        <form method="post" action="{% url 'button_clicked' %}">
            <button type="submit" name="button" value="1">Home</button>
            <button type="submit" name="button" value="2">Huiskalender</button>
            <button type="submit" name="button" value="3">Schoonmaakrooster</button>
            <button type="submit" name="button" value="4">Ganzenbord Generator</button>
            <button type="submit" name="button" value="5">Avondeten Generator</button>
            <button type="submit" name="button" value="6">About</button>
        </form>
    </div>
    <div class="image-container1">
        <img src="Boxes.png" alt="Green box1">
        <img src="Boxes.png" alt="Green box2">
        <img src="Boxes.png" alt="Green box3">
    </div>



</body>
</html>
