@font-face {
    font-family: 'Muli';
    src: url('Muli/Muli-Bold.ttf') format('truetype');
}

body {
    background-image: url('BackgroundColor2.png');
    background-size: cover;
    background-position: center 0px;
    background-repeat: no-repeat;
}

button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 1px 20px;
    margin: 10px;
    font-size: 20px;
    font-family: 'Muli';
}

.text-header1 {
    float: left;
    font-family: 'Muli';
    color: #27B776
}

.text-container1 {
    position: absolute;
    bottom: 600px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 50px;
}



img {
    margin: auto;
    max-width: 15%;
    height: auto;
    display: block;
}

